<meta charset="utf-8">
<title>{{{ page.title }}}</title>
<meta name="description" content="{{{ page.description }}}">
<meta name="author" content="{{{ page.author }}}">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link rel="stylesheet" href="{{page.url.framework}}/css/reveal.min.css">
<link rel="stylesheet" href="{{page.url.framework}}/css/theme/{{page.revealjs.theme}}.css" id="theme">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="{{page.url.highlighter}}/css/{{page.hitheme}}.css" id="theme">

<!-- If the query includes 'print-pdf', use the PDF print sheet -->
<script>
  var query_id = window.location.search.match(/univ_id=(\d{6})/);
  document.write( '<link rel="stylesheet" href="{{page.url.framework}}/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css">' );
</script>

<!--[if lt IE 9]>
<script src="lib/js/html5shiv.js"></script>
<![endif]-->
