<!doctype html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
  {{> head }}
  {{{ page.assets.css }}}
  <script>var verticalSlide = 4;</script>
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {{{ page.content }}}
    </div>
  </div>
</body>
  <script src="{{page.url.framework}}/lib/js/head.min.js"></script>
  <script src="{{page.url.framework}}/js/reveal.min.js"></script>
  <script src="../assets/js/jquery-1.8.3.min.js"></script>
  <script src="../assets/js/nav.js"></script>
  <script src="../assets/js/script.js"></script>
  {{> initialize }}
  {{> javascripts }}
  {{{ page.assets.js }}}
</html>
