<section class='slide {{slide.class}}' data-state='slide-horizontal' id='{{slide.id}}'>
  <div class='section-nav'>
    <h3>NAVIGATION</h3>
    <a href="#/5"><div>Student list business</div></a>
    <a href="#/7"><div>Empirical Analyses</div></a>
    <a href="#/9"><div>Policy</div></a>
  </div>
  <a class='logo' href='https://emraresearch.org' target='_blank'>emraresearch.org</a>
  {{{ slide.header }}}
  <hr />
  {{{ slide.content }}}
  <div class='left' style='float:left;width:48%'>
   {{{ slide.left.html }}}
  </div>
  <div class='right' style='float:right;width:48%'>
   {{{ slide.right.html }}}
  </div>
</section>
