<section class='slide {{slide.class}}' data-state='slide-horizontal' id='{{slide.id}}'>
  <div class='section-nav'>
    <ul></ul>
  </div>
  <a class='logo' href='https://emraresearch.org' target='_blank'>emraresearch.org</a>
  {{{ slide.header }}}
  <hr />
  {{{ slide.content }}}
  <div class='left' style='float:left;width:48%'>
   {{{ slide.left.html }}}
  </div>
  <div class='right' style='float:right;width:48%'>
   {{{ slide.right.html }}}
  </div>
  <div class="modal">
    <span class="close">&times;</span>
    <h3></h3>
    <img />
    <p></p>
  </div>
</section>
